{% extends 'app/main.html' %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" /> -->
{% block content %}


    <div class="jumbotron jumbotron-fluid">
        <div class="row">
            <div class="col-md-4 container">
                <img src="{% static 'images/my.jpg' %}" alt="" class="img-thumbnail">
            </div>

            <div class="col-md-6 container">
                <h1 class="display-4"><strong> Hi, I'm  Aman Baid </strong></h1>
                <!-- <div > -->
                    <a class="subheading mb-5" href="mailto:name@email.com">amanbaid@tutanota.com</a>
                <!-- </div> -->
                <hr>
                <h5>Welcome to My Website!</h5>
                <h5>An Aspiring Software Developer and  Tech Enthusiast who loves exploring,breaking and fixing stuff</h5>
                <div class="social-icons">
                    <!-- <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a> -->
                    <a href="https://github.com/amanbaid99">
                        <img src="{% static 'icons/github.png' %}" alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/aman-baid-b439321b0/">
                        <img src="{% static 'icons/linkedin.png' %}" alt="">
                    </a>
                    <a href="https://instagram.com/aman_baid_">
                      <img src="{% static 'icons/instagram.png' %}" alt="">
                    </a>
                  </div>
      
            </div>

        </div>
    </div>


<!-- jumbotron end -->

<!-- expertice  block start-->




<!-- expertice block end -->


{% endblock content %}