{% extends 'app/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% block content %}


    <div class="jumbotron jumbotron-fluid">
        <div class="row">
            <div class="col-md-4 container">
                <img src="{% static 'images/my.jpg' %}" alt="" class="img-thumbnail">
            </div>

            <div class="col-md-6 container">
                <h1 class="display-4">Hi, I'm  Aman Baid </h1>
                <p class="lead"> Welcome to my Website</p>
            </div>

        </div>
    </div>


<!-- jumbotron end -->

<!-- expertice  block start-->




<!-- expertice block end -->


{% endblock content %}